ul.main-menu
	li: a(href="#").active PORTADA
	li: a(href="#") BARINAS
	li: a(href="#") PAÍS
	li: a(href="#") MUNDO
	li: a(href="#") SUCESOS
	li: a(href="#") DEPORTES
	li: a(href="#") CIENCIA
	li: a(href="#") CULTURA
	li: a(href="#") VIDA
	li: a(href="#") OPINIÓN