doctype html
html
	head
		title De frente
		meta(name='viewport', content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/estilos.css")
		link(href="https://file.myfontastic.com/RuK4kti5dqRaWrQvDC7JfW/icons.css" rel="stylesheet")
	body
		header.header
			.header__fecha
					p Monday, 10 july 2017
			.header__logo
				include block-logo
			.header__menu
				nav.main-nav
					include blog-menu
		block tendencias
		block main
		block pais
		block footer
		